@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

h1,
h2,
h3 {
  @apply font-bold relative py-1;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl font-semibold;
}

h3 {
  @apply text-xl font-medium;
}

p {
  @apply text-base;
}

a {
  @apply font-medium;
}
a:hover {
  @apply text-blue-500;
}

body {
  @apply m-0 flex justify-center items-center min-w-[320px] min-h-screen;
}

#app {
  @apply w-full mx-auto p-8 text-center;
}

.dark {
  @apply bg-neutral-900 text-neutral-300;
}

.light {
  @apply bg-neutral-200 text-neutral-700;
}

.dark a {
  @apply text-blue-300;
}
.light a {
  @apply text-blue-700;
}

.dark h1,
.dark h2 {
  @apply text-neutral-200;
  animation: revealTextDark 0.5s ease forwards;
}

.light h1,
.light h2 {
  @apply text-neutral-800;
  animation: revealTextLight 0.5s ease forwards;
}

/* Keyframes for the text reveal animation (dark mode) */
@keyframes revealTextDark {
  from {
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

/* Keyframes for the text reveal animation (light mode) */
@keyframes revealTextLight {
  from {
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

/* Apply transition to theme-changing elements */
.dark,
.light,
.dark h1,
.dark h2,
.dark h3,
.dark p,
.dark a,
.light h1,
.light h2,
.light h3,
.light p,
.light a,
.dark .navbar,
.light .navbar {
  @apply transition-colors duration-300;
}
